.nav-bg {
  background-color: #faf096;
}

.upload {
  background-color: #c5f8c8;
}

.delete {
  background-color: #f9989f;
}

.table-head-design {
  border-radius: 10px;
  background-color: rgba(245, 130, 32, 1);
}

.single-head-design {
  background-color: rgb(135, 221, 84);
}

.border-cancel {
  border-top: none !important;
  border-bottom: none !important;
}

.row-border {
  border-bottom: 1px solid #8069fc !important;
}

.primary-italic {
  font-style: italic;
  font-family: "Georgia";
  color: rgba(105, 186, 223, 1);
}
