.main-logo {
  font-family: "Noto Sans", cursive;
  font-weight: 100;
  font-size: 26px;
  color: #8069fc !important;
}
.nav-bg {
  background-color: #faf096;
}

.upload {
  background-color: #c5f8c8;
}

.delete {
  background-color: #f9989f;
}

.table-head-design {
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    rgba(92, 63, 204, 1) 0%,
    rgba(175, 255, 239, 1) 100%
  );
}

.single-head-design {
  background: linear-gradient(
    90deg,
    rgba(199, 250, 242, 1) 0%,
    rgba(234, 232, 255, 1) 100%
  );
}

.delete-head-design {
  background: linear-gradient(
    90deg,
    rgba(213, 247, 255, 1) 0%,
    rgba(175, 255, 239, 1) 100%
  );
}

.border-cancel {
  border-top: none !important;
  border-bottom: none !important;
}

.row-border {
  border-bottom: 1px solid #8069fc !important;
}
